### This notebook would be utilised for building the Capstone Project

In [2]:
#importing Libraries

In [3]:
import pandas as pd
import numpy as np

# Section -1

### Using beautiful soup to get the data and cleaning it

In [4]:
import requests
import lxml.html as lh
from bs4 import BeautifulSoup

In [5]:
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [6]:
soup = BeautifulSoup(website_url,'lxml')

In [7]:
#print(soup.prettify())

### Method-1 To scrap tables

In [8]:
table = soup.find('table',{'class':'wikitable sortable'})
table_heading = table.find_all("th")
table_heading

[<th>Postal Code
 </th>, <th>Borough
 </th>, <th>Neighborhood
 </th>]

In [9]:
headings = []

for th in table.find_all('th'):
    headings.append(th.text.strip())

In [10]:
df = pd.DataFrame(columns = headings)
df

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [11]:
table_data = []
for tr_cell in table.find_all("tr"):
    row_data = []
    for td_cell in tr_cell.find_all("td"):
        row_data.append(td_cell.text.strip())
    table_data.append(row_data)

In [12]:
for to_append in table_data:
    if len(to_append) != 0:
        a_series = pd.Series(to_append, index = df.columns)
        df = df.append(a_series, ignore_index=True)

In [13]:
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,
1,M2A,Not assigned,
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,
176,M6Z,Not assigned,
177,M7Z,Not assigned,
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,

### Method-2 To scrap the table

In [14]:
#from IPython.display import display_html
#tab = str(soup.table)
#display_html(tab,raw=True)

In [15]:
#dfs = pd.read_html(tab)
#df=dfs[0]
#df

In [16]:
#Droping the rows where Borough is not assigned

In [17]:
df = df[df['Borough'] != 'Not assigned'].reset_index()

In [18]:
df.head()

,index,Postal Code,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [22]:
df1 = df.groupby(['Postal Code', 'Borough'], sort=False).agg( ', '.join)

In [26]:
df1.reset_index(inplace=True)

In [28]:
df1['Neighborhood'] = np.where(df1['Neighborhood'] == 'Not assigned',df1['Borough'], df1['Neighborhood'])

In [29]:
df1.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [30]:
df1.shape

(103, 3)

# Section - 2